<script>
    if(typeof(jQuery)!="function"){
        document.write('<script src="//code.jquery.com/jquery-1.10.0.min.js"></' + 'script>');
    }
</script>
<script>
    if(typeof(jQuery.ui)!="function"){
        document.write('<script src="//code.jquery.com/ui/1.10.3/jquery-ui.min.js"></' + 'script>');
    }
</script>
<script>
    if(typeof(JSON)!="function"){
        document.write('<script src="//cdnjs.cloudflare.com/ajax/libs/json2/20121008/json2.js"></' + 'script>');
    }
</script>
{{STATIC_URL}}

<link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.10.3/themes/ui-darkness/jquery-ui.min.css" />

<br/><br/>
<div>
    <div id="language_widget_{{name}}">
        <ul>
            {% for l in langsobj %}
                <li><a href="#tabs-{{forloop.counter}}" data-lang="{{l.0}}">{{l.1}}</a></li>
            {% endfor %}
        </ul>
        {% for l in langsobj %}
        <div id="tabs-{{forloop.counter}}" data-lang="{{l.0}}">
            <textarea id="language_widget_{{name}}_text_{{l.0}}" class="language_text" rows="4" cols="20" style="width:100%" data-lang="{{l.0}}"></textarea>
        </div>
        {% endfor %}
    </div>
    <textarea id="id_{{name}}" name="{{name}}" style="display:"></textarea>
</div>

<script>
    $(function(){
        var ml_{{name}}_data = {{ml_json|safe}};
        var ml_{{name}}_language = {{ml_language|safe}};
        var ml_all_langs = {{langs|safe}};
        
        $( "#language_widget_{{name}}" ).tabs();
        
        for(i in ml_{{name}}_language){
            var l = ml_{{name}}_language[i];
            if(l in ml_all_langs){
                $('#language_widget_{{name}} textarea[data-lang="'+l+'"]').val(ml_{{name}}_data[l]);
            }
        }
        
        $('#language_widget_{{name}} textarea.language_text').change(function(){
            var submit = {};
            $('#language_widget_{{name}} textarea.language_text').each(function(){
                if($(this).val() != ""){
                    submit[$(this).data('lang')] = $(this).val();
                }
            });
            $('#id_{{name}}').val(JSON.stringify(submit));
        });
        $('#id_{{name}}').val(JSON.stringify(data));
    });
</script>